<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>regi</servlet-name>
        <servlet-class>Action.regi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail_Senddd</servlet-name>
        <servlet-class>Action.mail_Senddd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mem_log</servlet-name>
        <servlet-class>Action.mem_log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>group_man</servlet-name>
        <servlet-class>Action.group_man</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Man_Log</servlet-name>
        <servlet-class>Action.Man_Log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignVerify</servlet-name>
        <servlet-class>Action.SignVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Action.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFile</servlet-name>
        <servlet-class>Action.updateFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail</servlet-name>
        <servlet-class>Action.mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tpa</servlet-name>
        <servlet-class>Action.tpa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regi</servlet-name>
        <url-pattern>/regi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mail_Senddd</servlet-name>
        <url-pattern>/mail_Senddd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mem_log</servlet-name>
        <url-pattern>/mem_log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>group_man</servlet-name>
        <url-pattern>/group_man</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Man_Log</servlet-name>
        <url-pattern>/Man_Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignVerify</servlet-name>
        <url-pattern>/SignVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFile</servlet-name>
        <url-pattern>/updateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mail</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tpa</servlet-name>
        <url-pattern>/tpa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
